.horizontal-scroll {
    overflow-x: auto;
}

/* .scroll-text {
    white-space: nowrap;
    overflow-x: auto;
} */
.scroll-text {
    white-space: nowrap; /* Hindari wrapping */
    overflow: hidden; /* Sembunyikan konten yang berlebihan */
    text-overflow: ellipsis; /* Tampilkan titik-titik untuk menunjukkan bahwa konten dipotong */
    max-width: 100%; /* Maksimum lebar judul */
}

